@page
@model Rapture.Therapy.Pages.Alpha.Identity.UserPasswordResetActionsModel
@{
    ViewData["Title"] = "User Password Actions";
    Layout = "_LayoutAlpha";
}

<script src="https://www.google.com/recaptcha/api.js?render=@Model.GoogleReCaptchaSiteKey"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('@Model.GoogleReCaptchaSiteKey', { action: 'homepage' }).then(function (token) {
            document.getElementById("GoogleReCaptchaValueId").value = token;
        });
    });
</script>

<h3>Alpha - User Password Reset Actions</h3>

<form method="POST">
    <div>
        You Are Signed In: @if (Model.UserSession.IsSignedIn)
        {
            <text>Yes</text>
        }
        else
        {
            <text>No</text>
        }
    </div>
    <br />
    <div>User Display Name: @Model.UserSession.DisplayName</div>
    <br />
    <div>User Roles Ids: @Model.UserSession.GetRoleIdsAsString()</div>
    <div>User Roles Names: @Model.UserSession.GetRoleNamesAsString()</div>
    <br />
    <div>Reset Token: <span>@Model.ResetToken</span></div>
    <br />
    <div>Reset Password: <a href="@Model.ResetPasswordUrl">@Model.ResetPasswordUrl</a></div>
    <br />
    <div>Google ReCaptcha Score: <span>@Model.GoogleReCaptchaScore</span></div>
    <br />
    <div>Message: <span>@Model.Message</span></div>
    <br />
    <p><strong>NOTE:</strong> For the purposes of this Alpha Software, any text may be used for the E-Mail Address Field.</p>

    <div>E-Mail Address: <input type="text" asp-for="EMailAddress" /></div>
    <br />
    <input type="submit" name="Action" value="Begin Password Reset" />
    <input type="submit" name="Action" value="Check Password Reset" />
    <input type="submit" name="Action" value="Abort Password Reset" />

    <input type="hidden" id="GoogleReCaptchaValueId" asp-for="GoogleReCaptchaValue" />
</form>
<br />
<br />
