@page
@model Rapture.Therapy.Pages.Alpha.Files.UploadFileModel
@{
    ViewData["Title"] = "Upload A File";
    Layout = "_LayoutAlpha";
}
<script src="https://www.google.com/recaptcha/api.js?render=@Model.GoogleReCaptchaSiteKey"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('@Model.GoogleReCaptchaSiteKey', { action: 'homepage' }).then(function (token) {
            document.getElementById("GoogleReCaptchaValueId").value = token;
        });
    });
</script>

<h3>Alpha - Upload A File</h3>

<form method="POST" enctype="multipart/form-data">
    <div>
        You Are Signed In: @if (Model.UserSession.IsSignedIn)
        {
            <text>Yes</text>
        }
        else
        {
            <text>No</text>
        }
    </div>
    <br />
    <div>User Display Name: @Model.UserSession.DisplayName</div>
    <br />
    <div>User Roles Ids: @Model.UserSession.GetRoleIdsAsString()</div>
    <div>User Roles Names: @Model.UserSession.GetRoleNamesAsString()</div>
    <br />
    <div>Google ReCaptcha Score: <span>@Model.GoogleReCaptchaScore</span></div>
    <br />
    <div>Message: <span>@Model.Message</span></div>
    <br />

    @if (Model.UserIsAuthorised)
    {
        <div>Meta Data: <input type="text" asp-for="MetaData" /></div>
        <br />
        <input type="file" id="fileId" asp-for="FileToUpload" />
        <br />
        <input type="submit" id="submitId" name="Action" value="Upload File" />

        <input type="hidden" id="GoogleReCaptchaValueId" asp-for="GoogleReCaptchaValue" />
    }
</form>
<br />
<br />

@section Scripts
{
    <script>
        $("#submitId").click(function(event) {

            var preventDefault = true;

            var files = $("#fileId").prop('files');

            if (files.length <= 0) {

                alert('No File has been Selected.');
            } else {

                var file = files[0];

                if (file.size > 29000000) {
                    alert('The File Size is Too Big to Upload.');
                } else {
                    preventDefault = false;
                }
            }

            if (preventDefault) {
                event.preventDefault();
            }
        });
    </script>
}
